*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Montserrat';
}
.border{
    border: 1px solid black;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.text-center{
    text-align: center;
}
.j-center{
    justify-content: center;
}
.as-center{
    align-self: center;
}
.a-center{
    align-items: center;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-20{
    font-size: 20px;
}
.between{
    justify-content: space-between;
}
